:root {
    --bg-color: #181C14;
    --bg-color02: linear-gradient(to left, #EE114F, #0FECEA);

    --color: rgb(206, 201, 201);
    --color02: #F30D4C;
    --color03: #27E2DA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 15px 45px;
    background: var(--bg-color02);
    text-transform: capitalize;
    color: var(--color);
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
ul{
    list-style: none;
}

section.center {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--bg-color);
    overflow: hidden;
    align-items: flex-start;
}

section h1 {
    font-size: 10rem;
    color: aliceblue;
}

section span.bubbole {
    position: absolute;
    bottom: -50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 1;
    animation: animate 4s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

section span.bubbole i {
    color: white;
}

/* animation */
@keyframes animate {
    0% {
        transform: translate(0%);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1200%);
        opacity: 0;
    }
}

section .banner {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    z-index: 111;
    flex-direction: column;
    gap: 5rem;
}

section .banner .logo {
    width: 250px;
    height: 80px;
    background: white;
    position: relative;
    border-radius: 5px;
}

section .banner .logo img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

section .banner .logo p {
    position: absolute;
    bottom: 0;
    right: 15px;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;

}

section .banner .card {
    width: 550px;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;

}
section .banner .card div.container:not(:first-child){
    display: none;
}

section .banner .card .container {
    width: 90%;
    flex-direction: column;
    padding: 36px 0;
    gap: 24px;
}

section .banner .card .container p {
    font-size: 28px;
    text-align: center;
    color: white;
}

section .banner .card .container .inputBox {
    color: white;
    background: var(--bg-color02);
    padding: 10px 15px;
    border-radius: 5px;
}

section .banner .card .container .inputBox i {
    font-size: 32px;
    font-weight: 100;
}

section .banner .card .container .inputBox input {
    font-size: 20px;
    background: none;
    outline: none;
    border: 0;
    padding: 10px 15px;
    color: white;
}

section .banner .card .container .inputBox input::placeholder {
    color: var(--color);
}

section .banner .card .container .checkBox input {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

section .banner .card .container .checkBox label {
    font-size: 18px;
    color: var(--color);
    padding-left: 8px;
}

section .banner .card .container .copyBox p {
    font-size: 12px;
    color: var(--color);
    padding-top: 24px;
}

section .banner .card #second_form .displayBox{
    width: 330px;
    height: 150px;
    background: var(--bg-color02);
    position: relative;
    border-radius: 50px;
    flex-direction: column;
    gap: 1rem;
}
section .banner .card #second_form .displayBox .poster{
    background: var(--bg-color02);
    border: white 5px dotted;
    padding: 5px 15px;
    border-radius: 50px;
    position: absolute;
    top: -10%;
}
section .banner .card #second_form .displayBox .poster p{
    font-size: 15px;
    text-transform: uppercase;
}
section .banner .card #second_form .displayBox .icon i{
    font-size: 36px;
    color: var(--color02);
}
section .banner .card #second_form .displayBox .text p{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
}
section .banner .card #second_form .listBox ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section .banner .card #second_form .listBox ul li{
    width: 200px;
    background: var(--bg-color02);
    padding: 10px 0px;
    border-radius: 50px;
    cursor: pointer;
    
}
section .banner .card #second_form .listBox ul li.selected{
    box-shadow: 0px 0px 0px 2px white; 
}
section .banner .card #second_form .listBox ul li.selected p{
    scale: 1.2;
    font-weight: bold;
}

section .banner .card #second_form .listBox ul li p{
    font-size: 16px;
    text-transform: capitalize;
}

section .banner .card #third_form p:first-child{
    text-transform: capitalize;
    font-weight: bold;
}
section .banner .card #third_form p:nth-child(2){
    font-size: 20px;
    color: var(--color);
}
section .banner .card #third_form p:nth-child(2) span{
    color: var(--color03);
    font-weight: bolder;
}

section .banner .card .container .inputBox{
    background: var(--color);
}
section .banner .card .container .inputBox input,
section .banner .card .container .inputBox input::placeholder{
    color: var(--bg-color);
}

@media only screen and (max-width: 620px) {
    body {
        height: 100%;
    }

    section .banner .card {
        width: 90%;
    }

    section .banner .card .container .inputBox,
    section .banner .card .container .inputBox input{
        width: 100%;
    }
    section .banner .card #second_form .displayBox{
        width: 100%;
    }
}